{% extends 'filmes/index.html' %}
{% block title %}Filmes{% endblock title %}

{% block content %}
<a href="{% url 'filmes:new_movie'  %}">Criar novo filme</a>
<a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Sair da Sessão</a>
<div class="row mb-3">
<div class="col-md-4 themed-grid-col"><h3>Nome do filme</h3></div>
<div class="col-md-4 themed-grid-col"><h3>Nota</h3></div>
<div class="col-md-4 themed-grid-col"><h3>Já visto</h3></div>

</div>


{% for filme in filmes %}

<div class="row mb-3">
      <div class="col-md-4 themed-grid-col">{{filme.name}}</div>
      <div class="col-md-4 themed-grid-col">{{filme.avaliation}}</div>
      <div class="col-md-4 themed-grid-col">
        {% if filme.visto %}
        <input type="checkbox" name="visto" checked>
        {% else %}
        <input type="checkbox" name="visto" >
        {% endif %}
        
      </div>
    </div>


{% endfor %}

{% endblock content %}